venv
.env
__pycache__/
/*.py[cod]
api/__pycache__/
api/*.py[cod]
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.csv
*.json
*.xlsx
*.xls
*.docx
*.pptx
*.pdf
*.zip
*.tar.gz
*.tar
*.gz
*.tgz
*.rar
*.7z
*.bak
*.swp
*.swo
*.swn
*.tmp
*.temp
*.pid
*.pid.lock
*.lock
*.egg-info/
*.egg
*.whl
*.dist-info/
*.whl
*.dist-info
.pytest_cache/
*.coverage

